<div class="card border-secondary text-center" style="max-width: 1000px; margin-top: 10px;">
  <div class="card-img-top" style="background-color:#f8f4f4;">
    <img class="img-fluid" *ngIf="selectedFile" [src]="image64" />
  </div>
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="model.name" required>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" [(ngModel)]="model.description" required>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="model.date" required>
      </div>
      <div class="form-group">
        <label>Tags</label>
        <input type="text" #tagsInput class="form-control" name="tags" [(ngModel)]="model.tags"
          (change)="slice(tagsInput.value)" required>
      </div>
      <div class="custom-file">
        <label class="form-label" for="customFile">Default file input example</label>
        <input #imageInput type="file" class="form-control" accept="image/*" id="customFile"
          (change)="imageChoice($event)" name="image" />
      </div>
      <button type="submit" style="margin-top: 10px;" class="btn btn-success">Save</button>
    </form>
  </div>
</div>