<div style="max-width: 1000px;" class="center_div border outer-box">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group top-buffer">
            <label for="username">Username:</label>
            <input 
                type="text"
                required
                appUsernameTaken 
                class="form-control" 
                #username="ngModel" 
                name="username"
                id="username" 
                placeholder="User" 
                [(ngModel)]="model.username">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors?.required">
                    Username is required
                </div>
                <div *ngIf="username.errors?.usernameTaken">
                    Username "{{username.value}}" is already taken!
                </div>
            </div>
        </div>
        <div class="form-group top-buffer">
            <label for="password">Password:</label>
            <input type="password" #password=ngModel class="form-control" name="password" id="password"
                placeholder="Password" [(ngModel)]="model.password" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors?.required">
                    Password is required!
                </div>
                <div *ngIf="password.errors?.pattern">
                    Password must atleast contain eight characters, one uppercase letter, one lowercase letter and one
                    number!
                </div>
            </div>
        </div>
        <div class="form-group top-buffer">
            <label for="repeated-password">Password:</label>
            <input 
                type="password" 
                #repeatedPassword=ngModel 
                class="form-control" 
                id="repeated-password"
                name="repeated-password" 
                placeholder="Repeated Password" 
                [(ngModel)]="model.repeatedPassword" 
                required
                appPasswordMatch="{{password.value}}">
            <div *ngIf="repeatedPassword.invalid && (repeatedPassword.dirty || repeatedPassword.touched)" class="alert alert-danger">
                <div *ngIf="repeatedPassword.errors?.required">
                    Repeated password is required!
                </div>
                <div *ngIf="repeatedPassword.errors?.passwordMatch">
                    Passwords do not match!
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success top-buffer" [disabled]="!userForm.valid">Sign up</button>
    </form>
</div>