<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label>UserName</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="model.username" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="date" [(ngModel)]="model.password" required>
    </div>
    <button class="button btn-primary" type="submit">Log in</button>
</form>
 -->

<div style="max-width: 1000px;" class="center_div border outer-box">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group top-buffer">
            <label for="username">Username:</label>
            <input type="text" required minlength="4" class="form-control" #username="ngModel" name="username" id="username" placeholder="User" [(ngModel)]="model.username">
            
            <div *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert">
            
            <div *ngIf="username.errors?.required">
                Username is required
            </div>
            <div *ngIf="username.errors?.minlength">
                Name must be at least 4 characters long.
              </div>
              </div>
        </div>
        <div class="form-group top-buffer">
            <label for="password">Password:</label>
            <input type="password" #password=ngModel class="form-control" name="password" id="password" placeholder="Password"
                [(ngModel)]="model.password" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert">
    <div *ngIf="password.errors?.required">
        Password is required
    </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success top-buffer">Log in</button>
    </form>
</div>