<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="authService.isLoggedIn()" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/search">Pictures</a>
        <a class="nav-link" routerLink="/addimage">Add Picture</a>
        <button class="btn btn-pasive" (click)="logOut()">log out</button>
      </div>

    </div>
    <div *ngIf="!authService.isLoggedIn()" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/images">Log In</a>
        <a class="nav-link" routerLink="/signup">Sign up</a>
      </div>
    </div>
</nav>
</div>
