<!-- <label for="search-box">Image Search </label>
<input #searchBox id="search-box" (input)="search(searchBox.value)"> -->


<div class="form-group top-buffer center-div">
    <input type="text" #searchBox class="form-control"  (input)="search(searchBox.value)" placeholder='Image Search text' >
</div>

<div class="container">
    <div class="row">

        <div *ngFor="let image of images$ | async" class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch top-buffer">
            <div class="card border-secondary" style=" width: 100%;">
                <a routerLink="/images/{{image.id}}">
                    <img class="card-img-top" src="{{'data:image/jpg;base64,' + image.content}}" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{image.name}} {{image.date}}</h5>
                    <p class="card-text">{{image.description}}</p>
                </div>
                <div class="card-footer "><a *ngFor="let tag of image.tags" routerLink="/search/{{tag.text}}"><span
                            class="badge btn-secondary margin-left">{{tag.text}}</span></a></div>
            </div>
        </div>

        <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageChange($event)">
        </mat-paginator>

    </div>
</div>